<main>
    <div class="sidebar">
        <section>
            <h2>Posts Destacados</h2>
        </section>
        <section>
            <h2>Posts Temáticos</h2>
        </section>
        <section>
            <h2>Posts Curiosos</h2>
        </section>

    </div>
    <div class="posts">

        <div class="post">
            <img src="https://dummyimage.com/200x200/2f17e6/fff" alt="">
            <p class="id"> Id: 2 </p>
            <p class="author"> UserID: 1 </p>
            <p class="title"> Title: qui est esse</p>
            
            <p class="description"> Description: est rerum tempore vitae\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\nfugiat
                blanditiis voluptate porro vel nihil molestiae ut reiciendis\nqui aperiam non debitis possimus qui neque
                nisi nulla
            </p>
        </div>


    </div>
</main>