
header {
    padding:0px 5%;
    grid-area: header;
    background: rgb(151, 151, 135);
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

header .logo {
    width: 40px;
    height: 40px;
    background: rosybrown;
}

header nav {
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

}

nav  a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

